/*************************************************
**************************************************
Color & Font Guide
****************/
:root {
  /*  PRIMARY COLOUR */
  --SunYellow: #ffcb47;
  /* SECONDARY COLOUR */
  --SkyBlue: #477bff;
  /* MAIN FONT COLOURS */
  --Black: #000000;
  --White: #ffffff;

  /* MAIN BODY FONT */

  --Heading: "Merriweather";
  --Body: "Karla";
}

/************************************************
    *************************************************
    0. CSS Reset ------------------------ 
    1. Universal Styles -----------------
    2. Navigation Bar Styles -------------- 
    3. Hero Section Styles ----------------- 
    4. Sun Rise & Sun Set Sections ------------------- 
    5. Buttons & Search --------------------
    6. Footer Styles -------------------- 
    7. Misc. Styles ----------- 
    8. Media Queries -----------
    ************************************************/

/*----------------------------------------------
    ------------------------------------------------
    0. CSS Reset
    ------------------------------------------------
    ----------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  /* sets padding at the bottom to same height as footer so
      the fixed footer does not overlap any content */
  padding-bottom: 50px;
}

/*----------------------------------------------
      ------------------------------------------------
      1. Universal Styles
      ------------------------------------------------
      ----------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--Heading);
}

p {
  font-family: var(--Body);
}

ul {
  list-style: none;
}

h3 {
  margin: 15px;
  margin-top: 10px !important;
}

/*----------------------------------------------
      ------------------------------------------------
      2. Navigation Bar
      ------------------------------------------------
      ----------------------------------------------*/

.sunTrack-header {
  /* background-color: var(--SunYellow); */
  background-image: linear-gradient(43deg,
      #ee3124 0%,
      #ffcb47 46%,
      #584c22 100%);

  /* sets properties for entire header */
  height: 13vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* leaves gap for input container */
  margin-bottom: 15px;
}

/* sets properties for anchor tag within the header and therefore positions
      the logo img  */
.sunTrack-header a {
  height: 100%;
  display: flex;
  justify-content: center;
}

/* sets width for time div and the placeholder on 
      the other side that was created for space-between precise 
      positioning, to have one item in the centre and one on the right */
.placeholder-div,
.time-div {
  width: 20%;
  color: var(--Black);
}

/*----------------------------------------------
      ------------------------------------------------
      3. Navigation Bar
      ------------------------------------------------
      ----------------------------------------------*/
/* makes entire input container a flex continer and positions
the elements in the center and creates gap between */
.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10vh;
}

/* styles input and datepicker */
#search-input,
#datepicker {
  height: 50px;
  font-size: larger;
  font-weight: bolder;
}

/* styles search button */
#search-button {
  background-color: var(--SkyBlue);
  color: var(--White);
  border-color: black !important;
  font-weight: bolder;
}

#time-display {
  color: var(--White);
}

/*----------------------------------------------
      ------------------------------------------------
      4. Hero Jumbotron Section
      ------------------------------------------------
      ----------------------------------------------*/

/* hides jumbotron image or main-content - 
      solely for the purpose while working with
      the main cards, will be hidden on-click in js */

/* #initial-image {
      display: none;
} */

/* .main-content-container {
      display: none;
} */

/*----------------------------------------------
      ------------------------------------------------
      5. Sun Rise & Sun Set Section
      ------------------------------------------------
      ----------------------------------------------*/

.sunrise-content {
  background: url("../images/sunrise.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.sunset-content {
  background: url("../images/sunset.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-body img {
  max-width: 100%;
}

.card-text {
  color: var(--White);
  font-weight: 600;
}

#sunrise-card,
#sunset-card {
  color: var(--White);
}

.sunrise-times,
.sunset-times {
  color: var(--White);
}

.card-text-black {
  color: #000000 !important;
}


/*----------------------------------------------
      ------------------------------------------------
      6. Buttons & Search Form
      ------------------------------------------------
      ----------------------------------------------*/
.button {
  
  background-color: rgb(255, 217, 0); 
  border-radius: 50%;
  border:#ffcb47;
  color: #ff7b00e1;
  margin: 20px;
  font-size: 18px;
  shape-outside: circle(50%);
  width: 100px;
  height: 100px;
 
}
/*----------------------------------------------
      ------------------------------------------------
      7. Footer Styles
      ------------------------------------------------
      ----------------------------------------------*/

/* sets footers height, position to fixed at the bottom
      of the page, 0 from bottom and width to take 100% */
footer {
  height: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*----------------------------------------------
      ------------------------------------------------
      8. Misc. Styles
      ------------------------------------------------
      ----------------------------------------------*/

/*----------------------------------------------
      ------------------------------------------------
      9. Media Queries
      ------------------------------------------------
      ----------------------------------------------*/
/* sets media query on input container for everything under 1200px */
@media only screen and (max-width: 1200px) {
  .input-container {
    /* flex-direction: column; */
    gap: 1vh;

  }
}

/* sets media query on input container for everything under 991px */
@media only screen and (max-width: 991px) {
  .input-container {
    flex-direction: column;
    gap: 0vh;
  }

  .input-container :nth-child(1) {
    order: 2;
  }

  .input-container :nth-child(2) {
    order: 1;
  }

  .input-container :nth-child(3) {
    order: 3;
  }
}

/* sets media query on search input, datepicker and search button for everything under 650px */
@media only screen and (max-width: 650px) {

  #search-input,
  #datepicker {
    height: 30px;
    font-size: small;
    font-weight: bold;
  }

  #search-button {
    height: 25px;
    font-size: 9px;
  }
}